<div class="navbar">
    <div class="col">
        <a class="btn btn-default icon-btn" href="/profile">
            <img src="img/user.png" class="icon-pic" />
        </a>
    </div>
    <div class="col">
        <a class="btn btn-default icon-btn" href="/home">
            <img src="img/home.png" class="icon-pic" />
        </a>
    </div>
    <div class="col">
        <a class="btn btn-default icon-btn" href="/friends">
            <img src="img/friends.png" class="icon-pic" />
        </a>
    </div>
</div>