<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

    <!-- Gaegu Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/friends.css" />
    <title>Friends Page</title>
	
</head>

<body>
    <h1>Friends</h1>

	{{#each friends}}
		<div class="container list-group friend-list" id="{{id}}">
			<a href="/dummy{{id}}" class="list-group-item list-group-item-action">
				<img src="/img/{{image}}" alt="friend's profile pic" class="img-thumbnail pfp rounded-circle">
				{{name}}
				<div class="status">
					<span class="dot"></span>
				</div>
			</a>
		</div>
	{{/each}}

	<section id="buttons">
      <div class="button fixed-top d-flex justify-content-between">
        <a href="/home" class="previous shadow-sm rounded">&#8249; Back</a>
		{{!-- info button --}}
		<button type="button" class="bg-transparent border-0">
			<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle" id="info" viewBox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
				<path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
			</svg>
		</button>
      </div>
    </section>
    <script type="text/javascript" src="/js/friends-functions.js"></script>

</body>

</html>