<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" www
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

	<!-- Gaegu Font -->
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet" />

	<link rel="stylesheet" type="text/css" href="css/pomm-theme.css" />

	<title>Pomm</title>

</head>

<body>
	<div class="container-fluid sky-blue">
		<h1>pomm</h1>
	</div>
	<img src="img/pngwing.com.png" alt="Pixel tree" class="pixel-tree center-block">
	<div class="container-fluid grass-green">
		{{!-- <button type="button" class="btn btn-primary btn-lg btn-block work-button">Create Work Session</button>
		--}}
		<a class="btn btn-link btn-primary btn-lg btn-block work-button" href="/settimer">Create Work Session</a>
	</div>
	<div class="navbar">
		<div class="col">
			{{!-- <button class="btn btn-default icon-btn">
				<img src="img/friends.png" class="icon-pic" />
			</button> --}}

			<a class="btn btn-default icon-btn" href="/profile">
				<img src="img/user.png" class="icon-pic" />
			</a>
		</div>
		<div class="col">
			{{!-- <button class="btn btn-default icon-btn">
				<img src="img/home.png" class="icon-pic" />
			</button> --}}
			<a class="btn btn-default icon-btn" href="/">
				<img src="img/home.png" class="icon-pic" />
			</a>
		</div>
		<div class="col">
			{{!-- <button class="btn btn-default icon-btn">
				<img src="img/user.png" class="icon-pic" />
			</button> --}}

			<a class="btn btn-default icon-btn" href="/friends">
				<img src="img/friends.png" class="icon-pic" />
			</a>

		</div>
	</div>

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>



</body>

</html>