<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

    <!-- Gaegu Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/logout.css" />
</head>

  <body class="text-center">
    <h1>Pomm</h1>
    <div id="text">
        <h2>You've signed out!<h2>
        <h2>Have a good day</h2>
    </div>
    <div class="text-center">
        <h3>Want to earn more Pomms?</h3>
        <a href="/" class="btn-lg btn-primary btn-block text-decoration-none">Sign in</a>
    </div>
  </body>

</html>
