<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	{{!-- <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

	<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script> --}}

	<!-- dialog scripts -->
	{{!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" /> --}}

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

	<!-- Gaegu Font -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<link rel="stylesheet" type="text/css" href="css/profile.css" />
</head>

<body>
	<section id="buttons">
		<div class="button d-flex justify-content-end">
			{{!-- info button --}}
			<button id="info-btn" type="button" class="border-0">
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle"
					id="info" viewBox="0 0 16 16">
					<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
					<path
						d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
				</svg>
			</button>
		</div>
	</section>

	<img src="/img/user.png" alt="profile pic" class="img-thumbnail rounded-circle d-block mx-auto" id="pfp">

	<dialog id="infoDialog" class="text-center">
		<p id="infoDialogText">For every 20 minutes you work in a session, you can earn 1 pomm. Let's get working</p>
		{{!-- <input id="info-close" type="button" class="text-center" value="Close"> --}}
		<button id="info-close">Close</button>
	</dialog>
	
	<dialog id="successDialog" class="text-center shadow-lg">
        <p id="successText">Image successfully uploaded!</p>
        <button id="successConfirm">OK</button>
    </dialog>

	<h1 id="name"></h1>
	<div id="stats" class="container">
		<div class="row">
			<div class="col text-center">
				<h2># of Sessions</h2>
			</div>
			<div class="col text-center">
				<h2># of Pomms</h2>
			</div>
			<div class="col text-center">
				<h2>Study Minutes</h2>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<h3 id="sessions">{{sessions}}</h3>
			</div>
			<div class="col text-center">
				<h3 id="pomms">{{pomms}}</h3>
			</div>
			<div class="col text-center">
				<h3 id="minutes">{{studymins}}</h3>
			</div>
		</div>
	</div>

	<h2 id="progress-text">Progress To Next Pomm: 0%</h2>
	<div class="progress">
		<div class="progress-bar" id="pomm-progress" style="width: 25%" role="progressbar" aria-valuenow="25"
			aria-valuemin="0" aria-valuemax="100"></div>
	</div>

	<div class="text-center">
		<button class="btn btn-primary btn-lg work-button text-decoration-none shadow change-profile"
			onclick="document.getElementById('file-input').click();">Change Profile Picture</button>
		<input id="file-input" type="file" name="name" style="display: none;" accept="image/*" />
	</div>

	<div class="text-center">
		<button class="btn btn-primary work-button text-decoration-none shadow-lg" id="logout">Sign Out</a>
	</div>

	{{> navBar}}


	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-storage.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>

	<script>
		// Your web app's Firebase configuration
		// For Firebase JS SDK v7.20.0 and later, measurementId is optional
		var firebaseConfig = {
			apiKey: "AIzaSyAY_pgK9cW0mdcGlmpc2G_v88r2cSsCFSw",
			authDomain: "pomm-56dd2.firebaseapp.com",
			projectId: "pomm-56dd2",
			storageBucket: "pomm-56dd2.appspot.com",
			messagingSenderId: "854481601199",
			appId: "1:854481601199:web:4268949d2dedef3cbb4a5a",
			measurementId: "G-YSJG7MPM1R"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
		firebase.analytics();

		// make auth and firestore references
		const auth = firebase.auth();
		const db = firebase.firestore();

		// Get a reference to the storage service, which is used to create references in your storage bucket
		var storage = firebase.storage();

		// update firestore settings
		db.settings({ timestampsInSnapshots: true });
	</script>

	<script type="text/javascript" src="js/profile.js"></script>
	<script type="text/javascript" src="js/authLogout.js"></script>
	<script type="text/javascript" src="js/profileFill.js"></script>
	<script type="text/javascript" src="js/fileUpload.js"></script>

</body>

</html>