<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

    <!-- Gaegu Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/results.css" />
    <title>Results</title>
</head>

<body>
    <header class="container-fluid header">
        <h1>Work Session</h1>
    </header>

    <main>
        <section id="results">
            <h2>Results</h2>
            <div class="result-list text-center">
                <h1>CONGRATS!!!</h1>
                <div class="bullet">
                    <li>Worked for 2 minutes</li>
                    <li>Completed 2 tasks</li>
                </div>
            </div>
        </section>

        <section id="next">
            <div class="button">
                <a href="/" class="next round">&#8250;</a>
            </div>
        </section> 
    </main>

    

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>