main {
    background-color:#CAF0F8;
}
.sky-blue {
    /* background-color: #CAF0F8; */
    /* padding-top: 6vh; */
    padding-bottom: 48vh;
}

.grass-green {
    background-color: #508D3C;
    /* background-color: lightgray; */
    padding-top: 6vh;
    padding-bottom: 4vh;
}

.pixel-tree {
    width: 90%;
    position: absolute;
    bottom: 150px;
    right: 20px;
    color: gray;
}

.icon-pic {
    width: 40%;
}

.icon-btn {
   padding-top: 1vh;
   outline: 1px solid black;
}

.navbar {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
}

.work-button {
    font-family: 'Gaegu', cursive;
    font-size: 25px;
    padding-top: 0vh;
    padding-bottom: 0vh;
    margin-top: 8vh;
    width: 100%;
    background-color: #FC6B6B;
    /* background-color: gray; */
    color: black;
    border: 2px solid black;
}

body h1 {
    font-family: 'Gaegu', cursive;
    text-align: center;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: #FC6B6B;
    font-size: 90px;
}

/* grayscaled tree and other images */
/* img {
    filter: grayscale(100%);
} */

.pomm-reward {
    position: relative;
    left: 250px;
    bottom: 250px;
}

.pomm-counter {
    text-align: right;
}

/* .pomm-counter-container {
    background-color: #CAF0F8;
}

.pomm-tree {
    background-color: #CAF0F8;
} */

/* note for later theres a gap between pomm counter and title cant color in */