.btn-text {
    font-size: 20px;
}

.sky-blue {
    background-color: #CAF0F8;
    padding-top: 0vh;
    padding-bottom: 1vh;
}

.navbar-blue {
    background-color: #CAF0F8;
}

.tree-bg {
    background-color: #508D3C;
    padding-top: 1vh;
    padding-bottom: 4vh;
}

.grass-green {
    background-color: #508D3C;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.pixel-tree {
    width: 100%;
    bottom: 150px;
    right: 20px;
    z-index: -1;
}

.icon-pic {
    width: 40%;
}

.parent-con {
    position: relative;
}

.pomm1 {
    position: absolute;
    width: 50px;
    top: 100px;
    left: 40px;
    visibility: hidden;
}

.pomm2 {
    position: absolute;
    width: 50px;
    top: 110px;
    left: 100px;
    visibility: hidden;
}

.pomm3 {
    position: absolute;
    width: 50px;
    top: 120px;
    left: 150px;
    visibility: hidden;
}

.pomm4 {
    position: absolute;
    width: 50px;
    top: 160px;
    left: 160px;
    visibility: hidden;
}

.pomm5 {
    position: absolute;
    width: 50px;
    top: 140px;
    left: 60px;
    visibility: hidden;
}

.pomm6 {
    position: absolute;
    width: 50px;
    top: 100px;
    left: 200px;
    visibility: hidden;
}

.pomm7 {
    position: absolute;
    width: 50px;
    top: 70px;
    left: 230px;
    visibility: hidden;
}

.pomm8 {
    position: absolute;
    width: 50px;
    top: 110px;
    left: 280px;
    visibility: hidden;
}

.pomm9 {
    position: absolute;
    width: 50px;
    top: 70px;
    left: 160px;
    visibility: hidden;
}

.pomm10 {
    position: absolute;
    width: 50px;
    top: 60px;
    left: 110px;
    visibility: hidden;
}


.icon-btn {
   padding-top: 1vh;
   outline: 1px solid black;
}

.navbar {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.work-button {
    font-family: 'Gaegu', cursive;
    font-size: 25px;
    padding-top: 0vh;
    padding-bottom: 0vh;
    margin-bottom: 4vh;
    margin-top: 4vh;
    width: 100%;
    background-color: #FC6B6B;
    color: black;
    border: 2px solid black;
}

.sign-in {
    font-family: 'Gaegu', cursive;
    font-size: 25px;
    padding-top: 0vh;
    padding-bottom: 0vh;
    margin-top: 3vh;
    width: 100%;
    background-color: #FC6B6B;
    color: black;
    border: 2px solid black;
}

.create-account {
    font-family: 'Gaegu', cursive;
    font-size: 25px;
    padding-top: 0vh;
    padding-bottom: 0vh;
    width: 100%;
    background-color: #FC6B6B;
    color: black;
    border: 2px solid black;
}

.account-form {
    padding-top: 8vh;
}

.landing-page {
    background-color: #CAF0F8;
    padding-bottom: 100vh;
}

body form {
    font-family: 'Gaegu', cursive;
    font-size: 30px;
}

body h1 {
    font-family: 'Gaegu', cursive;
    text-align: center;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: #FC6B6B;
    font-size: 90px;
}

body h2 {
    font-family: 'Gaegu', cursive;
    text-align: center;
    padding-top: 5vh;
    /* text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: #FC6B6B; */
    font-size: 70px;
}

body h3 {
    font-family: 'Gaegu', cursive;
    text-align: center;
    padding-right: 20px;
    /* text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: #FC6B6B; */
    font-size: 35px;
}

body p {
    font-family: 'Gaegu', cursive;
    text-align: center;
    margin-top: 8vh;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #FC6B6B; */
    font-size: 30px;
}