* {
    font-family: 'Gaegu', cursive;
}
body {
    padding: 10%;
}

#pfp {
    height: 45vw;
    width: 45vw;
    margin-bottom: 10%;
}

h1 {
    text-align: center;
}

#stats {
    margin-bottom: 9%;
}

#charts {
    padding: 2% 10%;
    height: 60vw;
}

input {
    visibility: hidden;
}

#toggle {
    padding: 5% 10%;
}

.dot {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #42b37f;
    position: absolute;
    top: 160px;
    left: 210px;
}

#friend1-status {
    background-color: #ef4040;
}

a {
    align-items: left;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.button {
    text-align: left;
    padding-right: 10%;
    padding-top: 10;
}

.previous {
    background-color: whitesmoke;
    color: black;
  }
  
.round {
    border-radius: 50%;
  }
