* {
    font-family: 'Gaegu', cursive;
}

/* not doing shit */
.header {
    padding: 3vh;
    text-align: center;
}

main {
    justify-content: center;
}

#work-break-title {
    text-align: center;
}

#clock {
    padding-top: 3vh;
    justify-content: center;
    text-align: center;
    padding-left: 9vh;
}

#clock > p {
    background-color: whitesmoke;
    padding: 3%;
    border-radius: 10px;
    width: 70%;
    border: 1px solid black;
    font-size: 40px;
    text-align: center;
}

.start-botton {
    font-size: 25px;
    padding-top: 0vh;
    padding-bottom: 0vh;
    margin-top: 8vh;
    width: 80%;
    /* background-color: #FC6B6B; */
    background-color: whitesmoke;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
}