body {
  background-color: #CAF0F8;
}

#list-bg {
  background-color: #C4C4C4;
  border-radius: 20px;
  padding: 10px;
  max-height: 500px;
}

/* Remove margins and padding from the list */
ul {
  margin: 0px;
  padding: 0;
  max-height: 485px;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #EBEBEB;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

li {
  border-radius: 15px;
  margin-bottom: 5px;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 8px 8px 8px 26px;
  list-style-type: none;
  background: #EBEBEB;
  font-size: 18px;
  transition: 0.2s;
  width: 95%;
}

/* Style the close button */
.close {
  position: absolute;
  right: 3%;
  top: 0;
  padding: 8px 16px;
  display: block;
}

.list-button {
  padding-left: 10px;
  text-align: right;
}


/* Style the header */
.header {
  /*background-color: #f44336;*/
  padding: 30px 30px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  border-color: black;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
#add-btn {
  padding: 10px;
  /* width: 25%; */
  width: 30%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  border: 1px solid black;
}

#add-btn:hover {
  background-color: #bbb;
}

#task-input {
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
  width: 40vw;
}

.add-task {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

a {
  align-items: right;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}