* {
    font-family: 'Gaegu', cursive;
}

body {
    padding: 10%;
    margin-top: 5%;
}

#stopwatch {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 25%;
}

.pause-button {
    font-size: 19px;
    margin-top: 1vh;
    margin-bottom: 2vh;
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
}

#start {
    display: block;
    background-color: lightgreen;
}

#pause {
    display: none;
    background-color: lightcoral;
}

.stop-button {
    font-size: 25px;
    margin-top: 8vh;
    width: 80%;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
}

body h1 {
    font-family: 'Gaegu', cursive;
    text-align: center;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: whitesmoke;
    font-size: 40px;
}

/* TO DO LIST STYLE - need to take some out*/
/* Include the padding and border in an element's total width and height */

  
  #list-bg {
      background-color: pink;
      border-radius: 25px;
      padding: 10px;
      margin-top: 20%;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0px;
    padding: 0;
  }
  
  li {
      border-radius: 25px;
      margin-bottom: 3px;
  }
  
  /* Style the list items */
  ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  }